root = true

[*]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

# Makefiles need tab indentation
[{Makefile,*.mk}]
indent_style = tab
tab_width = 8
end_of_line = lf

[{*.ps1,*.cmd,*.bat}]
end_of_line = crlf

[*.sh]
end_of_line = lf

[*.yml]
indent_size = 2

[*.java]
# https://google.github.io/styleguide/javaguide.html#s4.2-block-indentation
indent_size = 2
# https://google.github.io/styleguide/javaguide.html#s4.4-column-limit
max_line_length = 100
