<?xml version="1.0"?>
<parameters>
    <driver>com.mysql.jdbc.Driver</driver>
    <DBUrl>jdbc:mysql://127.0.0.1:3500/wiki1k</DBUrl>
    <DBName>wiki1k</DBName>
    <username>root</username>
    <password></password>
    <works>
        <work>
          <time>20</time>
          <rate>10</rate>
          <weights>5,5,5,5</weights>
        </work>
	</works>
</parameters>
