<?xml version="1.0"?>
<plugins>
    <plugin name="tpcc">com.oltpbenchmark.benchmarks.tpcc.TPCCBenchmark</plugin>
    <plugin name="tpch">com.oltpbenchmark.benchmarks.tpch.TPCHBenchmark</plugin>
    <plugin name="tatp">com.oltpbenchmark.benchmarks.tatp.TATPBenchmark</plugin>
    <plugin name="wikipedia">com.oltpbenchmark.benchmarks.wikipedia.WikipediaBenchmark</plugin>
    <plugin name="resourcestresser">com.oltpbenchmark.benchmarks.resourcestresser.ResourceStresserBenchmark</plugin>
    <plugin name="twitter">com.oltpbenchmark.benchmarks.twitter.TwitterBenchmark</plugin>
    <plugin name="epinions">com.oltpbenchmark.benchmarks.epinions.EpinionsBenchmark</plugin>
    <plugin name="ycsb">com.oltpbenchmark.benchmarks.ycsb.YCSBBenchmark</plugin>
    <plugin name="seats">com.oltpbenchmark.benchmarks.seats.SEATSBenchmark</plugin>
    <plugin name="auctionmark">com.oltpbenchmark.benchmarks.auctionmark.AuctionMarkBenchmark</plugin>
    <plugin name="chbenchmark">com.oltpbenchmark.benchmarks.chbenchmark.CHBenCHmark</plugin>
    <plugin name="voter">com.oltpbenchmark.benchmarks.voter.VoterBenchmark</plugin>
    <plugin name="sibench">com.oltpbenchmark.benchmarks.sibench.SIBenchmark</plugin>
    <plugin name="noop">com.oltpbenchmark.benchmarks.noop.NoOpBenchmark</plugin>
    <plugin name="smallbank">com.oltpbenchmark.benchmarks.smallbank.SmallBankBenchmark</plugin>
    <plugin name="hyadapt">com.oltpbenchmark.benchmarks.hyadapt.HYADAPTBenchmark</plugin>
    <plugin name="otmetrics">com.oltpbenchmark.benchmarks.otmetrics.OTMetricsBenchmark</plugin>
</plugins>
